#verze naseho image prestashopu - https://github.com/BulkGate/prestasms/pkgs/container/prestasms
PRESTASHOP_IMAGE_VERSION=1.7.8.0-7.4

# kdykoliv nastavujes PRESTASHOP_DOMAIN s portem, tak presne ten samy port musi byt uveden zde
PRESTASHOP_PORT=8081

# domena vcetne portu v pripade, ze ne to neni default http (80), nebo https (443) port
PRESTASHOP_DOMAIN=localhost:8081

# na tomto portu pobezi adminer web service
ADMINER_PORT=9081

# nazev databaze, kterou bude pouzivat instance prestashopu
MYSQL_DATABASE=prestashop