#includes:
#  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon
    
parameters:
	level: 8
	paths:
		- src
		- controllers
	scanDirectories:
		- prestashop
		- vendor
